.signup-window {

	.tab__list {
		display: flex;
		justify-content: center;
		gap: 20px;
		font-size: 1.5rem;
	}
	.tab__item {
		cursor: pointer;
		padding: 7px 10px;
	}

	.tab__item--active {
		color: white;
		background-color: blue;
		border-radius: 5px;
	}
}

#signup-form {
    display: none;
    flex-direction: column;
    gap: 1em;

		&__email {
		}

		&__password {
		}

		&__username {
		}

		&__avatar {
		}
}

#login-form {
	display: none;
    flex-direction: column;
    gap: 1em;

	&__title {
	}

	&__email {
	}

	&__password {
	}

	&__button {
		background-color:red;
		width: auto !important;
	}
}

.login-form__button {
	width: auto !important;
}

