/*! Add button settings */
.add-button {
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 15%;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: goldenrod;
    transition: all .2s linear;
}

.add-button:hover {
    color: wheat;
    transform:translateY(-10px);
    transition: transform .2s linear, color .3s linear;
}



/*! Add window settings */
.add-window.active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.add-window {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: block;
    max-width: 60vw;
    width: 100vw;
    top: -100%;
    left: 0;
    right: 0;
    margin: 1em auto 0;
    padding: 1em;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    background-color: wheat;
    transition: all .2s linear;
}

.add-window__image-section {
    min-height: 400px;
}

.add-window__img-container {
    display: flex;
    justify-content: center;
    width: 90%;
}

.add-window__img {
    width: 90%;
    transform: scale(var(--scale));
    border-radius: 15px;
    transition: all .2s linear;
}

.filter-chrome {
    filter: grayscale(1);
}
.filter-sepia {
    filter: sepia(1);
}
.filter-marvin {
    filter: invert(100%);
}
.filter-fobos {
    filter: blur(3px);
}
.filter-znoi {
    filter: brightness(3);
}
.filter-original {
    filter: none;
}

.scale-control-settings {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.scale-control-settings__increase-button,
.scale-control-settings__decrease-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: white;
    background-color: blue;
    border-radius: 100%;
    transition: all .1s linear;
}

.scale-control-settings__increase-button:hover,
.scale-control-settings__decrease-button:hover {
    transform: scale(1.1);
    transition: all .1s linear;
}

.add-window__upload-label {
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    transition: transform .2s linear;
}

.add-window__upload-label:hover {
    box-shadow: 0 5px 0 darkblue;
    transform: translate( 0, -5px);
}

.add-window__upload-input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.add-window__exit-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

/*! Setting section settings */
.setting-section {
}

.setting-section__filters {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.setting-section__filters .setting-section__label{
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all .2s linear;
}

.setting-section__label:hover {
    border: 2px solid blue;
}
.setting-section__label--active {
    color: white;
    background-color: blue;
}

.setting-section__input {
    display: none;
}

.setting-section__range {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.range__slider {
    width: 50%;
}

.range__inputs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.range__label {
}

.range__input {
    text-align: center;
    border-radius: 10px;
    outline: 0;
    border: 2px solid transparent;
    transition: all .2s linear;
}
.range__input:hover {
    border: 2px solid blue;
}
.range__input:focus {
    border: 2px solid blue;
}

.setting-section__textarea{
}

.setting-section__submit-button {
    width: 50%;
    cursor: pointer;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    transition: transform .2s linear;
}

.setting-section__submit-button:hover {
    box-shadow: 3px 3px 0 darkblue;
    transform: translate( -3px, -3px);
}